.characters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--rem-30px, 30px);

  margin: var(--rem-50px, 50px) 0;

  @media (min-width: 576px) {

  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 992px) {
    
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 1400px) {
    grid-template-columns: repeat(5, 1fr);
  }
}